
html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
}

#fix-container {
    width: 1200px;
    margin: 0 auto;
    -webkit-box-shadow: 7px 5px 10px 2px #eee;
    box-shadow: 7px 5px 10px 2px #eee;
}

header,
footer {
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px #000 dashed;
}

#gallery-wrapper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#gallery-wrapper .gallery-item {
    flex-grow: 0;
    flex-basis: 21%;
    margin: 10px 0;
    align-self: auto;
}

.img-responsive {
    width: 100%;

}
/*   
počítače (nad 1300px)
tablety (800px - 1200px)
mobily (do 800px)
Měnit se bude nejen šířka celého fix-container, ale i jednotlivých sloupců.

počítače
fix-container: 1200px
počet sloupců: 4
tablety
fix-container: 100%
počet sloupců: 2
mobily
fix-container: 100%
počet sloupců: 1
*/


@media screen and (min-width: 800px) and (max-width: 1200px) {
#fix-container {
    width: 100%;

   

}

#gallery-wrapper .gallery-item {
    flex-basis: 50%;
}

}

@media screen and (max-width: 800px) {
    #fix-container {
        width: 100%;
    }

    #gallery-wrapper .gallery-item {
        flex-basis: 100%;
    }

}

